---
interface Props {
  className?: string;
  hover?: boolean;
}

const { className = '', hover = true } = Astro.props;
---

<div class={`bg-white rounded-md overflow-hidden border border-gray-100/50 shadow-sm ${hover ? 'hover:shadow-xl hover:-translate-y-1 transition-all duration-300' : ''} ${className}`}>
  <slot />
</div>
